@media screen and (max-width: 768px){
    
    li{
        padding-bottom:15px;

    }
    a{
        padding-top:15px;
        font-size:1.1rem;
    }
    article{
        padding-left:auto;
        display:block;
        margin-top:25%;
        padding-right:10%;
    }
    .animateIn{
        font-size:30px;
    }
    ul{
        padding-top:15px;
    }
    ul li{
        padding-top:15px;
    }

    /* Images */
    #thumbsUp{
        height:auto;
        width:67%;
    }
    #heading{
        padding-top:5%;
        height:110%;
        padding-left:25%;
        padding-right:0;
    }
    #annoyedSquidWithSponge{
        height:auto;
        width:56%;
    }
    .formTD{
        padding-left:2%;
        padding-right:3%;
    }
    .wholeTree{
        margin-bottom:10%;
        margin-right:0.75rem;
    }
    #confused{
        width:55%;    
    }
    #reviews{
        margin-top:5%;
    }
    #theKrustyKrab{
        width:54%;
        height:auto;
    }
    .menuItem{
        width:90%;
    }
    #droolingPatrick{
        height:auto;
        width:56%;
    }
    #spongeBargingOutOfTheKitchen{
        height:auto;
        width:53.5%;
    }
    .youtube{
        margin-left:0;
    }
    #nasty{
        width:65%;
    }

}