@media screen and (max-width: 768px){
    
    li{
        padding-bottom:15px;

    }
    a{
        padding-top:15px;
        font-size:1.1rem;
    }
    article{
        padding-left:auto;
        padding-right:10%;
    }
    .animateIn{
        font-size:30px;
    }
    #heading{
        margin-bottom:10%;
    }
    .branchHeadings{
        font-size:20px;
    }
    ul{
        padding-top:15px;
    }
    ul li{
        padding-top:15px;
    }

    /* Images */
    #thumbsUp{
        height:auto;
        width:95%;
    }
    #heading{
        padding-left:24%;
        padding-right:none;
    }
    #annoyedSquidWithSponge{
        height:auto;
        width:90%;
    }
    .formTD{
        padding-left:2%;
        padding-right:3%;
    }
}