html{
    background-color:rgb(235, 202.5, 78);
    font-family:lato, sans-serif;
    color:black;
}

header{
    text-align: center;
    color:rgb(3, 68, 68);
    background-color:rgb(200, 170, 53);
}

footer{
    position:absolute;
    bottom:0px;
    margin-bottom:0.6rem;
    left:8px;
    right:8px;
    background-color:rgb(200, 170, 53);
}

footer table{
    margin-right:auto;
    margin-left:auto;
}

.headerTable{
    margin-left:auto;
    margin-right:auto;
    font-weight:90;
    font-family: 'Sigmar One', cursive;
}

.headerTable img{
    height:6.5rem;
    /* margin: top right bottom left */
    margin: 0.6rem 0.5rem 0px 0px;
}

.subPages{float:right;}

.wholeTree{float:left;}

nav{
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top:1rem;
    background-color:rgba(0,0,0,0.09);
}

.italic{
    font-style:italic;
}

a{
    text-decoration:none;
    color:rgb(44, 44, 44);
}

a:hover{
    color: rgb(71, 71, 71);
}

ul{
    list-style-image:url('../images/burger-16x16.png');
}